/* basic styles with flex */

.title {
	width: 100%;
	text-align: center;
}

.controls {
	width: 100%;
	text-align: center;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

@media screen and (max-width: 399px) {
	.flex-container {
		width: 400px;
		flex-wrap: none;
	}
}

@media screen and (min-width: 400px) {
	.flex-container {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* all about flipping, thanks to David Walsh */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/*
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
*/

.flip-container, .front, .back {
	width: 100px;
	height: 100px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 7%;
	border: 1px solid Sienna;
}

/* front pane, placed above back */
.front {
	/* for firefox 31 */
	transform: rotateY(180deg);
}

/* back, initially hidden pane */
.back {
	background-color: Wheat;
	z-index: 2;
	transform: rotateY(0deg);
}

/* styles for selected and hidden cells */
.selected-cell {
	transform: rotateY(180deg);
}

.hidden-cell {
	transition-property: "opacity";
	opacity: 0;
	transition-duration: 1.4s;
}